---
import BaseLayout from "../layouts/BaseLayout.astro";
import ServiceList from "../components/widgets/ServiceList.astro";
import Content from "../components/widgets/Content.astro";
import Content2 from "../components/widgets/Content2.astro";
import webDevImg from "../assets/images/services/web-dev.webp";
import seoImg from "../assets/images/services/seo.webp";
import consultingImg from "../assets/images/services/consulting.webp";

const services = [
    {
        title: "GSWM",
        href: "https://github.com/GualiSoft/GSWM",
        description: "A Wayland Compositor built in Rust with features specifically for developers and multiple tiling layouts.",
        icon: "lucide:globe",
    },
    {
        title: "Everything OS",
        description: "A Linux distribution targeted at developers and power users. Sacrifices on compatibility with some old hardware to improve performance overall.",
        icon: "lucide:search",
    },
    {
        title: "Rust as the building block",
        description:
            "We use Rust everywhere we can to maximise performance and build memeory safe solutions.",
        icon: "lucide:rocket",
    },
];
const metadata = {
    title: "Services",
    description:
        "Discover our distribution, Wayland compositor and more.",
};
---

<BaseLayout {metadata}>
    <Content
        tagline="Services"
        title="Our Services"
        description={[
            "Comprehensive solutions designed to maximize your productivity, and improve your development workflow.",
        ]}
    />
    <ServiceList services={services} classes={{ container: "pt-0 md:pt-0" }} />
    <Content
        tagline="Linux as the OS"
        title="Everything OS the developers dream Linux distribution"
        description={[
            "Our Linux distribution Everything OS provides you the assurance your hardware is yours and you can make full use of it. Linux goes easy on your hardware while offering you unlimited customisation capabilities.",
        ]}
        classes={{ container: "pb-0 md:pb-0" }}
    />
    <Content2
        items={[
            {
                title: "Responsive Design",
                description:
                    "Our products ensure that if you do somethings its done what you see is what you get.",
            },
            {
                title: "Optimized Performance",
                description:
                    "Fast boot times, Linux and Rust.",
            },
        ]}
        image={webDevImg}
        imageAlt="Usability without compromising performance"
        classes={{ container: "pt-0 md:pt-0" }}
    >
        <Fragment>
            <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
                Optimisation
            </h3>
            We go down the rabbit hole of optimisation for you ensuring you get the maximum out of your hardware. 
        </Fragment>
    </Content2>

    <Content2
        isReversed={true}
        items={[
            {
                title: "GSWM",
                description:
                    "GSWM allows you to enjoy more your computing experience with tons of features that save you time.",
            },
            {
                title: "Work Smarter",
                description:
                    "Our AI solutions help you find documentation in seconds or learn new skills without frying your brain by doing everything for you our AI is a tutor you are the one gaining knowledge by building the software.",
            },
        ]}
        image={seoImg}
        imageAlt="SEO Strategies"
    >
        <Fragment>
            <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
                Time saving
            </h3>
            We include a multitude of features allowing for a keyboard centric workflow where each minute that could be saved is saved. 
        </Fragment>
    </Content2>

    <Content2
        items={[
            {
                title: "Open Source Forever",
                description:
                    "You can trust our software by its open source nature it is more secure well maintained and free of charge.",
            }
        ]}
        image={consultingImg}
        imageAlt="Technology Consulting"
    >
        <Fragment>
            <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
                Open Tools
            </h3>
            By our open nature you can be sure the project wil remain free and well maintaned
        </Fragment>
    </Content2>
</BaseLayout>
